<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6 col-md-offset-4">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://avatars2.githubusercontent.com/u/11695615?v=3&s=460">
                </div>
                <div class="info">
                    <div class="title">
                        <a>Manivannan</a>
                    </div>
                    <div class="desc">Full Stack ROR Developer</div>
                    <div class="desc">Health Advisor</div>
                    <div class="desc">Tutorial Maker</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" target="_blank" href="https://twitter.com/rkmmanivannan">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher" target="_blank"
                       href="https://plus.google.com/u/0/102312452824520567779">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher" target="_blank"
                       href="https://www.facebook.com/rkmmanivannan">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://in.linkedin.com/in/rkmmanivannan" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>
